.contenido{
   margin-top: 10%;
   width: 300px; 
   position: fixed; 
   z-index: 1; 
   top: 0; 
   left: 0;
   overflow-x: hidden; 

   padding-top: 20px;
   padding-left: 20px;
}

.contenido .lista-contenido{
  border-radius: 10px;

}

.contenido .lista-contenido a{
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #818181;

}

.Bienvenida .jumbotron{
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  position: relative;

}

img{
  opacity: 0.5;
  margin-left: 100%;
  position: absolute;
}

